<div id="new-question-second" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-no-line">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <%= "Elda" %>, please make sure this question hasn't been asked before.
                </h4>
            </div>
            <div class="modal-body">
                <%= form_for question, url: questions_path, html: { multipart: true } do |f| %>
                    <%= f.label :question_title, "Type your question:" %>
                    <%= f.text_field :question_text, :class => "form-control", :id => 'question-modal-title', :placeholder => "How can I implement matrix sort in C++?", :class => 'form-control', :required => true %>
                    
                    <%= f.label :question_text, "Type here any extra content:" %>
                    <%= f.text_area :question_text, :class => "form-control", :id => 'question-modal-text', :placeholder => "I did this: CODE \n MORE CODE", :class => 'form-control', :rows => 6, :minLength => 15 %>
            </div>
            <div class="modal-footer">
                <%= f.submit id: "ask-question-button", :class=>"btn btn-primary" %>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <% end %>
            </div>
        </div>
    </div>
</div>