<div class="questionContent">
  <% @questions.by_date.each do |question| %>
    <div class="question-information">
      <div class="question-info">
        <div class="answer-quantity">
          <%= question.answers.count %>
        </div>
        <div>
          <%= "answer".pluralize(question.answers.count) %>
        </div>
      </div>
      <div>
        <div class="questionTitle">
          <%= link_to question.question_title, question_path(question), class: "link-to-question"%>
        </div>
        <p class="questionText">
          <%= question.question_text %>
        </p>
        <small class="user-info">
          <%= question_timestamp(question) %>
        </small>
      </div>
    </div>
    <hr>
  <% end %>
</div>

