<div class="container">
    <div class="container">
        <div class="jumbotron bannerHeader" id="questionHeader">
            <div class="suggest-topic-container">
                <% if current_user.admin == true %>
                  <%= link_to ('<i class="fas fa-minus-circle delete-item" style="font-size:1.5em"></i>').html_safe, question_path(@question), method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
                <span class="user-info long-text lead">
                    <%= question_show_timestamp(@question) %> 
                </span>
            </div>
            <span class="badge badge-pill badge-secondary"><%= @question.topic.category.category_name %></span>
            <span class="badge badge-pill badge-secondary"><%= @question.topic.topic_name %></span>
            <h1 class="display-4"><%= @question.question_title %></h1>
            <p class="long-text lead">
                <%= @question.question_text %>
            </p>
            <span class="badge badge-pill badge-secondary" id="answer-counter"><%= @question.answers.count %> Answers</span>
        </div>  

        <% if @question.answers.count <= 0 %>
          <hr>
          <div class="container answer-button">
            <p class="lead">
              <%= current_user.first_name %>, can you answer this question?
            </p>  
            <small id="answer-help-text">
              Your knowledge is deeply appreciated.
            </small> 
            <%= link_to "Answer", "#", class: "btn btn-success answer-question" %> 
            <div class="answer-form hidden">
              <div class="container answer-form-container">
                <%= render "form" %>
              </div>
            </div>
          </div>
          <hr>
        <% end %>
                      
    </div>

</div>


  <div class=question-show> 
    <div class="question-answers">
      <% if @question.answers.count > 0 %>

        <div class="container" id="answerContent">
          <div class="answers-top">
            <h4 id="answers-header">Answers</h4>
            <%= link_to "Write answer", "#", class: "btn btn-success answer-question" , id:"answer-button-inlist"%> 
          </div>
            <hr>
            <div class="answer-form hidden">
              <div class="container answer-form-container">
                <%= render "form" %>
              </div>
            </div>
            <% @question.answers.by_date.each do |answer| %>
            <div class="question-information">
              <div class="question-container">
              <div class="media">
              <%= image_tag( answer.user.avatar.url, class:"align-self-top mr-3 media-object comment", alt: answer.user.avatar.url )%>
                <div class="media-body">
                  <div class="user-reply">
                    <div class="user-reply-left">
                      <h5 class="mt-0"> <%= answer.user.user_name %> </h5>
                      <%= link_to "reply", "#", class: "btn btn-primary btn-sm btn-reply",  id: "btn-reply-#{answer.id}"%> 
                    </div>
                    <% if current_user.admin == true %>
                      <%= link_to ('<i class="fas fa-minus-circle delete-item"></i>').html_safe, answer_path(answer), method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                  </div>
                  <small class="mb-0 user-info">
                    <%= answer_timestamp(answer) %>
                  </small>
                </div>
                
              </div>
                <p class="container answerText lead">
                  <%= answer.answer_text %>
                </p>

                <% answer.comments.by_date.each do |comment| %>
                  <div class="media comment-container">
                    <%= image_tag( User.find_by(id: comment.user_id).avatar.url, class:"align-self-top mr-3 media-object comment", alt: User.find_by(id: comment.user_id).avatar.url )%>
                    <div class="media-body">
                       <div class="comment-text-container">
                        <p class="lead"> <span> <%= User.find_by(id: comment.user_id).user_name %> </span> <%= comment.comment_text %> </p>
                      </div>
                      <% if current_user.admin == true %>
                          <%= link_to ('<i class="fas fa-minus-circle delete-item"></i>').html_safe, comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
                      <% end %>
                    </div>
                  </div>
                <% end %>

                <div class="form-container-new-comment hidden"  id="reply-container-<%= answer.id %>">
                   <%= render "formComment", answer: answer %>
                </div>
                
              </div>
            </div>
            <hr>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>




