<div id="signUpContainer">
    <div id=registrationbk class="row justify-content-left lign-self-center">
        <div class="col-sm-5  align-self-center logo-wrapper">
            <div class="logo">
                <%=image_tag("brand/LogoWhite.png", class: "imgSize", alt: "Askify-Logo") %>
        </div>
        </div>

        <div class="col-sm-7 justify-content-left align-self-center" id="containerForm">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form") do |f| %>
            <%= devise_error_messages! %>
            <div id="formReg" >
                <div class="form-group" id="fName">
                <%= f.text_field :first_name, class:"form-control",  autofocus: true,
                placeholder:"First Name"%>
                </div>

                <div class="form-group" id="lName">
                <%= f.text_field :last_name, class:"form-control",  placeholder:"Last Name"%>
                </div>

                <div class="form-group" id="uMat">
                    <%= f.text_field :student_id, autocomplete: "off" , class:"form-control",  placeholder:"Matricula"%>
                </div>

                <div class="form-group" id="uEmail">
                    <%= f.email_field :email, class:"form-control", autocomplete: "email" , placeholder:"Email"%>
                </div>

                <div class="form-group" id="uName">
                <%= f.text_field :user_name, class:"form-control", placeholder:"Username"%>
                </div>


                <div class="form-group" id="uName">
                    <%= f.date_field :birth_date, class: 'form-control datepicker'%>
                </div>

                <div class="form-group" id="uPass">
                <%= f.password_field :password, class:"form-control", autocomplete: "off", placeholder:"Password"%>
                </div>

                <div class="form-group" id="uPassConf">
                <%= f.password_field :password_confirmation, class:"form-control",  autocomplete: "off", placeholder:"Password Confirmation"%>
                </div>

                <div class="form-check" >
                <%= check_box_tag(:gender) %>
                <%= label_tag(:gender, "Female", id:"femaleLabel") %>
                <%= check_box_tag(:gender) %>
                <%= label_tag(:gender, "Male") %>
                </div>

                <div class="actions" id="signUp">
                <%= f.submit "Register", id:"signUpBtn", class:"submit-form btn btn-primary" %>
                <%= render "devise/shared/links" %>
                </div>

                <% end %>
            </div>
        </div>
    </div>
</div>