<hr class="my-4">
<%=profileCardMaker("Username",  @user.user_name)%>
<%=profileCardMaker("Email",  @user.email)%>
<%=profileCardMaker("Student ID",  @user.student_id)%>
<%=profileCardMaker("Major",  @user.major)%>
<%=profileCardMaker("Birth Date",  @user.birth_date.strftime("%d/%m/%Y") )%>
<%=profileEditableCardMaker("Username",  @user, "user_name")%>
<%=profileEditableCardMaker("Email",  @user, "email")%>
<%=profileEditableCardMaker("Student ID",  @user, "student_id")%>
<%=profileEditableCardMaker("Major",  @user, "major")%>
<%=profileEditableCardMaker("Birth Date",  @user, "birth_date")%>
<div class="container deleteAccount">
  <button type="button" class="btn btn-primary" id="bottomSaveChangesBut">Save Changes</button>
</div>
<div class="container deleteAccount">
  <button type="button" class="btn btn-outline-danger" id="deleteProfileBut">Delete Account</button>
</div>