<div class="row">
  <div class="col-sm-2">
    <p class="lead" id="profileTitle">My Profile</p>
    <ul class="list-group list-group-flush">
    <li class="list-group-item menu profile-details">Profile Details</li>
    <li class="list-group-item menu my-questions">My Questions <span class="badge badge-secondary"><%= 3 if 1+3 > 0 %></span></li>
    <li class="list-group-item menu my-answers">My Answers <span class="badge badge-secondary"><%= 1 if 1+3 > 0 %></span></li>
    </ul>
  </div>

  <div class="col-sm-10">
    <div class="jumbotron profile">
      <div class="media">
        <div class="media-body">
          <h1 class="display-4">Hello, <%= @user.first_name %> <%= @user.last_name %></h1>
          <p name="starRating" id="userRating"></p> 
          <p class="lead">
            View your profile details
            <a class="btn btn-success btn-sm" href="#" role="button" id="editProfileBut">Edit</a>
            <a class="btn btn-primary btn-sm" href="#" role="button" id="saveChangesBut">Save Changes</a>
          </p>
        </div>
        <div id="userImage" class="media-right media-middle">
          <%= image_tag("userImage.jpg", class:"media-object profile", alt:"user-profile")%>
        </div>
      </div>


      <div class="user-information-tab">
        <hr class="my-4">
      
        <%=profileCardMaker("User Name",  @user, "user_name")%>
        <%=profileCardMaker("Email",  @user, "email")%>
        <%=profileCardMaker("Student ID",  @user, "student_id")%>
        <%=profileCardMaker("Major",  @user, "major")%>
        <%=profileCardMaker("Birth Date",  @user, "birth_date" )%>
        <%=#profileEditableCardMaker("Username",  @user.user_name)%>
        <%=#profileEditableCardMaker("Email",  @user.email)%>
        <%=#profileEditableCardMaker("Student ID",  @user.student_id)%>
        <%=#profileEditableCardMaker("Major",  @user.major)%>
        <%=#profileEditableCardMaker("Birth Date",  @user.birth_date.strftime("%d/%m/%Y"))%>
        <div class="container deleteAccount">
          <button type="button" class="btn btn-primary" id="bottomSaveChangesBut">Save Changes</button>
        </div>
        <div class="container deleteAccount">
          <button type="button" class="btn btn-outline-danger" id="deleteProfileBut">Delete Account</button>
        </div>
      </div>


      <div class="user-questions-tab hidden">
        <hr class="my-4">
        <div>  
          <div class="dropdown-divider questions"></div>
          <% @user_questions.each do |question| %>
            <div class="question-information">
              <div class="question-info">
                <div class="answer-quantity">
                  <%= question.answers.count %>
                </div>
                <div>
                  answers
                </div>
              </div>
              <div>
                <div>
                  <%= link_to question.question_title, question_path(question), class: "link-to-question", onClick:"$('#homeQuestionsPanel').resizable('destroy')"%>
                </div>
                <div class="user-info">
                  <%= user_question_timestamp(question) %>
                </div>
              </div>
            </div>
            <hr>
          <% end %>
        </div>
      </div>

      <!-- <div class="user-answers-tab hidden">
        <hr class="my-4">
        <div>  
          <div class="dropdown-divider questions"></div>
          <% #@user_answers.each do |answer| %>
            <div class="question-information">
              <div>
                <div>
                  <%= #link_to answer.question.question_title, question_path(answer.question), class: "link-to-question" %>
                </div>
                <div>
                  <%= answer.answer_text%>
                </div>
                <div class="user-info" style="font-size: 0.8rem;">
                  <%= answer_timestamp(answer) %>
                </div>
              </div>
            </div>
            <hr>
          <%# end %>
        </div>
      </div> -->

      <div class="user-answers-tab hidden">
        <hr class="my-4">
        <div>  
          <div class="dropdown-divider questions"></div>
          <% @questions.each do |question| %>
            <%= question.answers.find_by(user_id: @user.id).each do |answer| %>
              <div> <%= answer.answer_text %></div>
            <% end %>
            <hr>
          <% end %>
        </div>
      </div>


    </div>
  </div>
</div>

