<div class="jumbotron">
    <div class="media">
        <div class="media-body">
            <h1 class="display-4">Hello, <%= @user.first_name %> <%= @user.last_name %></h1>
            <p name="starRating" id="userRating"></p> 
            <p class="lead">
                View your profile details
                <a class="btn btn-success btn-sm" href="#" role="button" id="editProfileBut">Edit</a>
            </p>
        </div>
        <div id="userImage" class="media-right media-middle">
            <%= image_tag("userImage.jpg", class:"media-object profile", alt:"user-profile")%>
        </div>
    </div>
  <hr class="my-4">
  <%=profileCardMaker("Username",  @user.user_name)%>
  <%=profileCardMaker("Email",  @user.email)%>
  <%=profileCardMaker("Student ID",  @user.student_id)%>
  <%=profileCardMaker("Major",  @user.major)%>
  <%=profileCardMaker("Birth Date",  @user.birth_date)%>
</div>
<div class="container">

</div>
