<div id="homeWrapper" class="row homeWrapper">
  <div class="col-sm-7">
    <div id="homeQuestionsPanel"> 
      <%= search_form_for @q1, url: home_index_path do |f| %>
        <div>  
          <div class="container titleHome">
              <h3 class="display-4 home">Questions</h3> 
          </div>
          <div class="align-flex">
            <%= f.search_field :question_text_or_question_title_cont, class: "form-control mr-sm-2", id: "searchPost", placeholder: "Search..." %>
            <%= f.submit class: "submit-search"%>
          </div>
          <%= render 'questions/questions' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-5">
    <div id="homePanel"> 
      <div class="container titleHome">
        <h3 class="display-4 home"> Elda says</h3> 
        
        <%= render 'posts/posts'%>
      </div>
    </div>
  </div>
</div>