<%= search_form_for @q2, url: home_index_path do |f| %>
  <div id="listPosts">
    <div class="sticky-top align-flex">
      <%= f.search_field :post_content_cont, class: "form-control mr-sm-2", id: "searchPost", placeholder: "Search..." %>
      <%= f.submit class: "submit-search"%>
    </div>
    <ul id="posts" class="list-group list-group-flush">
      <% @posts.each do |post| %>
        <li class="list-group-item flex-column">
          <div class="d-flex w-100">
            <% if current_user.admin == true %>
              <%= link_to ('<i class="fas fa-minus-circle delete-item"></i>').html_safe, post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            <small>
              <%= post_timestamp post %>
            </small>
          </div>
          <h4 class="mb-1">
            <%= post.post_title %>
          </h4>
          <p class="mb-1">
            <%= post.post_content %>
          </p>
          <%= image_tag(post.avatar, class: "imgSize", alt: "eventImage") if post.avatar.exists? %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>