<div class="container">
    <div class="container">
        <div class="jumbotron bannerHeader" id="categoryHeader">
            <div class="suggest-topic-container">
                <span class="lead">
                    Not finding what you're looking for?
                </span>
                <%= link_to "Suggest new topic", "#new-topic-modal", "data-toggle" => "modal", class: "lead suggest-topic"%>
            </div>
            <h1 class="display-4"> <%= @category.category_name %>  </h1>
            <p class="lead">
                <%= @category.description %>  
            </p>
        </div>
    </div>
    <% if @category.topics.count <= 0 %>
        <hr>
            <div class="container no-topics-found">
            <p class="lead">
                There are no topics for this category.
            </p>  
            <small id="answer-help-text">
                Your suggestions for topics are deeply appreciated.
            </small> 
            </div>
        <hr>
    <%end%>
</div>

<% if @category.topics.count > 0  %>
    <div class="container-fluid" id="topic-cards-container">
        <% @category.topics.each do |topic| %>
            <%= link_to topic_path(topic) do %>
            <button name= "color<%= topic.id%9 %> " type="button" class="btn topic-button"><%= topic.topic_name %></button>
            <% end %>
        <% end %>
    </div>
<% end %>




