<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Askify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag 'brand/SingleLogoBlackIcon.ico' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render "layouts/navbar" %>
    <% end %>
    
    <%= yield %>
    
    <%= render "questions/new_first", question: @question %>
    <%= render "questions/new_second", question: @question %>

  </body>
</html>
